body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 400px;
  height: 600px;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#display,
#keypad {
  margin: 10px;
  width: 360px;
}

#display {
  flex: 1 1 0;
  border: black solid;
}

#keypad {
  flex: 5 1 0;
  display: flex;
}

#numbers,
#operators,
#special {
  list-style-type: none;
  padding: 0%;
  display: flex;
}

#numbers {
  flex: 3 0 60%;
  list-style-type: none;
  padding: 0%;
  display: flex;
  flex-direction: column;
}

#operators {
  flex: 1 0 20%;
  list-style-type: none;
  padding: 0%;
  display: flex;
  flex-direction: column;
}

#special {
  flex: 1 0 20%;
  list-style-type: none;
  padding: 0%;
  display: flex;
  flex-direction: column;
}

#numbers *,
#special *,
#operators * {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

button {
  align-items: center;
  font-size: large;
}
